.padding {
  padding: 1em;
}

.padding--small {
  padding: .25em;
}

.padding--vertical-optimization {
  padding-top : 1.5em
}

.padding--tb {
  padding-left: 0px;
  padding-right: 0px;
}
.padding--lrb {
  padding-top: 0px;
}
